// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 5vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;

    .utente {
        display: flex;
        justify-content: center;
        align-items: center;

        h2 {
            margin-right: 10px;
        }

        a {
            color: black;
        }
    }
}

footer {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

h2 {
    margin: 20px;
}

.contenitore {
    height: 90vh;
    text-align: center;
    // background-image: url("/storage/assets/img/background-image.jpg");

    h1 {
        text-decoration: underline;
    }

    li {
        list-style: none;
    }
}
