// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

h2 {
    margin: 20px;
}

.contenitore {
    margin: 25px;
    text-align: center;
}
